.features-section{
    padding-top: 0rem;
    padding-bottom: 0rem;  
    .driver-bg{
        background:  url('../images/feature-bg.png');
        background-position: center;
        background-size: cover;
        padding: 3rem 0 0rem;
    } 
    .section-title{
        h3{
            padding: 0rem 3rem;
            @include font(2.8rem);
        }
        h1{
            padding: 0rem 3rem;
            @include font(2.8rem);
        }
        &:before{
            display: none;
        }
    }
    .feature-p{
        padding: 2.5rem 0 2rem;
    }
    @include bp(md) {   
        padding-top: 2rem;
        padding-bottom: 0rem;
        .section-title{
            h3{
                padding: 0rem;
                @include font(2.4rem);
            }
            h1{
                padding: 0rem;
                @include font(2.4rem);
            }
        }
    }
}
.feature-p{
    padding: 4rem 0 2rem;
    &.tabs-sm{
        @include bp(md) {  
            .nav-pills{
                margin: 0 -1.5rem;
                .nav-item{
                    &+.nav-item{
                        margin-left: .5rem;
                    }
                }
            }
        }
    }
}
.feature-slider{
    padding: 0rem 5rem 0rem;
    @include bp(md) {  
        padding: 0rem;
        display: none; 
        button{
            &.slick-prev {
                top: auto;
                bottom: -5rem;
                left: 35%;
            }
            &.slick-next {
                top: auto;
                bottom: -5rem;
                right: 35%;
            } 
        }    
    }
}
.feature-slider-mobile{
    padding: 0rem 5rem 0rem;
    display: none;
    @include bp(md) {  
        padding: 0rem;
        display: block;
        &.slick-dotted{
            &.slick-slider{
                margin-bottom: 0px;
            }
        }
        button{
            background: transparent;
            &.slick-prev {
                top: auto;
                bottom: 0rem;
                left: 38%;
                background: transparent;
            }
            &.slick-next {
                top: auto;
                bottom: 0rem;
                right: 38%;
                background: transparent;
            } 
        }    
        .slick-dots {
            padding-bottom: 1rem;
            li{
                &.slick-active {
                    button{
                        &:before{
                            background-color: var(--grey-1);
                        }
                    }
                }
            }
        }
    }
}
.feature-card{
    display: flex;
    flex-direction: column;
    .feature-card-img{
        img{
            max-width: 100%;
            @include radius(0.5rem);
        }
        p{
            @include font(1.6rem, 500, var(--grey-1));
            padding: 1.5rem 0 2rem;
            margin: 0;
        }
    }
    @include bp(md) {  
        flex-direction: row;
        .feature-card-img{
            margin: 0 auto 5rem;
            img{
                margin: 0 auto;
            }
            p{
                @include font(1.6rem, 500, var(--grey-1));
                text-align: center;
                padding: 1.5rem 0 2.5rem;
            }
        }
    }
}
