:root {
    --root-font: 10px;
    // colors
    --primary-blue: #0f7fe7;
    --red-01:#800000;
    --red-02:#b11a1a; 
    --white :#ffffff;
    --off-white:#f5f5f5;
    --light-white:#faf9ed;
    --blue:#192841;
    --blue-01:#305ba2;
    --grey-1:#030000;
    --grey-2:#b9b9b9;
    --grey-3:#747474;
    --grey-4:#f2f2f2;
    --grey-5:#f8f8f8;  
    --grey-6:#adadad;
    --grey-7:#e0e1e3;
    --grey-8:#b2b2b2;
    --grey-9:#dddddd;
    --grey-10:#222222;
    --grey-11:#c1c1c1;
    --grey-12:#ebebeb;
    --grey-13:#e8e8e8;
    --grey-14:#dbdbdb;
    --grey-15:#f2f4f9;
    --tvs-blue: #183883;
    --black-auto:#3e3e3e;
    --green-auto:#338151;
    --dplus-green-auto:#02b86e;
    --green:#2a8c15;
    --red:#ff3333;
    --black:#000;
    --blue-auto:#3591d0;
    --yellow-auto:#f6c755;
    --red-auto:#ec2b05;
    --neptune-blue:#0e99dc;
    --glossy-blue:#2067bc;
    --ev-color:#2871b8;
    --text-size-xss: 1.4rem;
    --text-size-xs: 1.6rem;
    --text-size-sm: 1.8rem;
    --text-size-md: 2rem;
    --text-size-lg: 2.2rem;
    --text-size-xl: 3.2rem; 
    --text-size-xll: 4.2rem; 
   

    /* shadow */
    --sticky-header-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.16);
    --color-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
    --color-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}
